.button-nav {
    background-color: #f8f9fa;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.nav-list li {
    margin: 0.5rem;
}

.nav-list button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-list button:hover {
    background-color: #0056b3;
}

.checkbox-display {
    margin-top: 2rem;
    text-align: center;
}

label {
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    margin: 0.5rem 0;
}


.styled-checkbox {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    position: relative;
}

.styled-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.styled-checkbox .checkmark {
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.styled-checkbox input:checked + .checkmark {
    background-color: #007bff;
}
.animated-checkbox input {
    transition: transform 0.3s ease;
}

.animated-checkbox input:checked {
    transform: scale(1.2);
}

